@import "structure.css";

html,
body {
  background: var(--bs-neutral-100);
}
.mobile-nav-toggler {
  display: none;
}

/* layout css code */
.layout-left {
  width: 260px;
  background: var(--bs-white);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: 0.4s all;
  border-right: 1px solid var(--bs-neutral-300);
}

.layout-right {
  width: calc(100% - 260px);
  /* height: 100vh; */
  position: relative;
  left: 260px;
  transition: 0.4s all;
}
.vertical-collpsed .layout-left {
  width: 80px;
  transition: 0.4s all;
}
.vertical-collpsed .layout-right {
  width: calc(100% - 80px);
  left: 80px;
  transition: 0.4s all;
}
.navbar-wrapper {
  width: calc(100% - 260px);
  height: 110px;
  background: var(--bs-white);
  padding: 0 30px;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 998;
  border-bottom: 1px solid var(--bs-neutral-300);
  transition: 0.4s all;
}
.vertical-collpsed .layout-right .navbar-wrapper {
  width: calc(100% - 80px);
  transition: 0.4s all;
}

.main-content {
  padding: 130px 30px 50px 30px;
  min-height: calc(100vh - 70px);
  max-height: fit-content;
}
/* layout css code */
.layout-left .barnd-logo {
  padding: 42px 0;
}
.barnd-logo .with-collpsed {
  display: none;
}
.vertical-collpsed .barnd-logo .not-collpsed {
  display: none;
}
.vertical-collpsed .barnd-logo .with-collpsed {
  display: block;
  width: 48px;
  height: 48px;
}
.vertical-collpsed .barnd-logo {
  padding: 31px 0;
}

.navbar-action .action-link {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bs-neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-action .action-link img {
  width: auto;
  height: auto;
}

.navbar-action .badge {
  position: absolute;
  top: 0px;
  right: 0px;
}
.notifications .dropdown-menu {
  width: 352px;
  padding: 10px;
  border: 1px solid var(--bs-neutral-300);
  transform-origin: top right;
  transition: 0.4s ease-in-out;
}

.profile .dropdown-menu {
  width: 270px;
  padding: 14px 24px 24px 24px;
  border: 0px;
  box-shadow: 0px 2px 4px -4px rgba(15, 28, 51, 0.04),
    0px 3px 8px -2px rgba(15, 28, 51, 0.1);
  transform-origin: top right;
  transition: 0.4s ease-in-out;
}
.profile .nav-item .nav-link {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 10px;
  width: 100%;
  color: var(--bs-neutral-500);
}
.profile .nav-link:focus,
.profile .nav-link:hover {
  color: var(--bs-primary-500);
}

.profile .nav-link:hover svg .my_acc {
  stroke: var(--bs-primary-500);
}

.profile .nav-link:hover svg .setting {
  fill: var(--bs-primary-500);
}
.profile .nav-link:hover svg .cng-pass {
  stroke: var(--bs-primary-500);
}
.profile .nav-link:hover svg .logout {
  stroke: var(--bs-primary-500);
}
.search-box {
  width: 356px;
}
.search-box .form-control {
  border-radius: 24px;
  padding: 0.688rem 0.75rem;
  padding-left: 48px;
}

.search_result li a p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-right: 20px;
}

.navbar-action .profile .online {
  position: absolute;
  bottom: 2px;
  right: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--bs-white);
  background: var(--bs-primary-500);
}

.navbar-action .profile .online.active {
  background: var(--bs-primary-500);
}
#sidebar-menu ul li ul.sub-menu li a {
  height: 40px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  width: calc(264px + 70px) !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  width: 264px !important;
}
.footer {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid var(--bs-neutral-300);
}
.page-wrapper {
  min-height: 56vh;
  max-height: fit-content;
  background: var(--bs-white);
  padding: 32px;
}

/* product-form */
.product-form .row {
  margin: 0 -22px;
}
.product-form .row .col-6 {
  padding: 0 22px;
}
.image-upload-container {
  gap: 30px;
}
.productMain-image .dragDrop-area {
  height: 124px;
}
.dragDrop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--bs-neutral-300);
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  background: var(--bs-neutral-50);
}
.dragDrop-area label {
  cursor: pointer;
}
.dragDrop-area .image-upload {
  display: none;
}
.gallery_images .dragDrop-area {
  width: 74px;
  height: 74px;
}
.dragDrop-area .image-preview-container {
  position: absolute;
  top: -3px;
  width: 76px;
  height: 76px;
  /* display: none; */
}
.dragDrop-area .close-icon {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  /* display: none; */
  width: 24px;
  height: 24px;
}
.dragDrop-area .upload-label {
  cursor: pointer;
}
.product-list-short .search-box .form-control {
  border-radius: 4px;
  padding: 0.438rem 0.75rem;
  padding-left: 40px;
}
.product-list-short .search-box {
  width: unset;
}
.product-list-short .search-box > .search_icon {
  top: 10px;
  left: 12px;
  width: 18px !important;
  height: 18px !important;
}

/* table css */
.table {
  margin: 0;
}
.table .row {
  justify-content: space-between;
}
.table .row .cell {
  width: fit-content;
  display: flex !important;
  align-items: center;
}

.table .tbody .row,
.table .thead .row {
  border-bottom: 1px solid var(--bs-neutral-300);
  background: none;
  font-size: 14px;
  color: var(--bs-neutral-900);
}

.table .tbody .row {
  font-weight: 400;
  padding: 14px 0;
}

.table .thead .row {
  font-weight: 500;
}

.table .tbody .row .sl,
.table .thead .row .sl {
  width: 44px;
}
.table .tbody .row .img,
.table .thead .row .img {
  width: 64px;
}
.table .tbody .row .img img {
  width: 48px;
  height: 48px;
}

.table .tbody .row .name,
.table .thead .row .name {
  width: 220px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 54px;
}
.table .tbody .row .sku,
.table .thead .row .sku {
  width: 90px;
}
.table .tbody .row .category,
.table .thead .row .category {
  width: 130px;
}
.table .tbody .row .price,
.table .thead .row .price {
  width: 80px;
}
.table .tbody .row .type,
.table .thead .row .type {
  width: 74px;
}
.table .tbody .row .variant,
.table .thead .row .variant {
  width: 90px;
}
.table .tbody .row .stock,
.table .thead .row .stock {
  width: 70px;
}
.table .tbody .row .status,
.table .thead .row .status {
  width: 110px;
}
.table .tbody .row .action,
.table .thead .row .action {
  width: 64px;
}
.table .tbody .row .action img {
  width: auto;
  height: auto;
  cursor: pointer;
}
.table .tbody .row .color,
.table .thead .row .color {
  width: 54px;
}
.table .tbody .row .size,
.table .thead .row .size {
  width: 54px;
}

.table .tbody .row .code,
.table .thead .row .code {
  width: 54px;
}

.table .tbody .row .companyName,
.table .thead .row .companyName {
  width: 140px;
}
.table .tbody .row .accountType,
.table .thead .row .accountType {
  width: 140px;
}

.table .tbody .row .phone,
.table .thead .row .phone {
  width: 110px;
}
.table .tbody .row .mail,
.table .thead .row .mail {
  width: 210px;
}
.table .tbody .row .address,
.table .thead .row .address {
  width: 210px;
}
.table .tbody .row .totalprice,
.table .thead .row .totalprice {
  width: 100px;
}
.table .tbody .row .dr_cr,
.table .thead .row .dr_cr {
  width: 160px;
}
.table .tbody .row .date,
.table .thead .row .date {
  width: 100px;
}

.table .tbody .row .note,
.table .thead .row .note {
  width: 200px;
}
.table .tbody .row .quantity,
.table .thead .row .quantity {
  width: 80px;
}
.table .tbody .row .discount,
.table .thead .row .discount {
  width: 100px;
}

.table .tbody .row .tax_vat,
.table .thead .row .tax_vat {
  width: 190px;
}

.table .tbody .row .action .dropdown-menu {
  width: 220px;
  --bs-dropdown-border-width: 0px;
  border-radius: 4px;
  background: var(--bs-white);
  box-shadow: 0px 2px 8px -4px rgba(15, 28, 51, 0.05),
    0px 10px 14px -4px rgba(15, 28, 51, 0.08);
}
.table .tbody .row .action .dropdown-menu .dropdown-item {
  color: var(--bs-neutral-900);
  font-size: 14px;
}
.table .tbody .row .action .dropdown-menu .dropdown-item:focus,
.table .tbody .row .action .dropdown-menu .dropdown-item:hover {
  color: var(--bs-neutral-900);
  background-color: var(--bs-neutral-100);
}
.table .tbody .row .action .dropdown-menu .w-auto {
  width: 16px !important;
  height: 16px !important;
}
/* table css */

.navigation .custom-select {
  width: 64px;
}
.navigation .custom-select .arrow-icon {
  top: 44%;
}

.product-variations .table .tbody .row .name,
.product-variations .table .thead .row .name {
  width: 320px;
}
.product-variations .dragDrop-area {
  width: 46px;
  height: 46px;
}
.product-variations .image-preview-container {
  position: absolute;
  top: -3px;
  width: 50px;
  height: 50px;
  /* display: none; */
}
.product-variations .dragDrop-area .close-icon {
  width: 24px !important;
  height: 24px !important;
}
.product-variations .table .tbody .row {
  padding: 12px 0;
}
.product-variations .dragDrop-area .upload-img {
  width: 24px !important;
  height: 24px !important;
}
/* product-form */

/* supplier */
.supplier .table .tbody .row .name,
.supplier .table .thead .row .name {
  width: 150px;
}
.modal-dialog {
  top: 12%;
}

.modal-body {
  padding: 0 30px 30px 30px;
}
.personal-info .details {
  gap: 30px;
}
.personal-info .personal-img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
}
.personal-info .personal-img img {
  border-radius: 50%;
}
.personal-info .personal-details {
  width: calc(100% - 145px);
}
.summary {
  margin-top: 34px;
}
.summary .card {
  border: 1px solid var(--bs-neutral-300);
  border-radius: 8px;
}
.cards .row {
  margin: 0 -12px;
  row-gap: 24px;
}
.cards .row .col-lg-3 {
  padding: 0 12px;
}
.summary .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cards .row .card-icon {
  width: 40px;
  height: 40px;
}
.personal-info {
  background: var(--bs-white);
  padding: 32px;
}
.table .tbody .row .action .view_details {
  padding: 5px;
}
/* supplier */

/* customer */

/* customer */

/* chart js */
.chartcard {
  width: 100%;
  height: 400px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
.dataset-label label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.dataset-label p {
  font-size: 14px;
  color: var(--txt-neutral-600);
}
/* chart js */

/* journal */
.journal_content {
  padding-bottom: 180px;
}
.journal_content .video {
  width: 400px;
  background: var(--bg-white);
  height: 240px;
  border: 1px solid var(--bs-primary-300);
  border-radius: 13px;
  margin-bottom: 28px;
  box-shadow: 0px 0px 30px 0px rgba(15, 28, 51, 0.08);
}
.journal_content .video .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.btn-play span {
  display: block;
  position: relative;
  left: 2px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 12px solid var(--bs-white);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.btn-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
}
.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: var(--bs-primary-500);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: var(--bs-primary-500);
  border-radius: 50%;
  transition: all 200ms;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
#videoModal .modal-content {
  background-color: transparent;
  border: 0;
}
#videoModal .modal-content iframe {
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 350px;
}
.journal-notes {
  margin-top: 50px;
}
.journal-notes ul {
  margin-top: 18px;
}
.journal-notes ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--bs-neutral-600);
  line-height: 10px;
}
.journal-notes ul li::before {
  content: url(../images/icon/check_mark_round_20.svg);
  display: inline-block;
}

.calender_img {
  position: absolute;
  right: 10px;
  top: 58%;
  width: auto;
  height: auto;
}
.datepicker-cell:not(.disabled):hover {
  background-color: var(--bs-neutral-100);
}
.datepicker-cell.focused:not(.selected) {
  background-color: var(--bs-primary-500);
  color: var(--bs-white);
}
.journal_content .journal-item .btn {
  width: 154px;
}
.journal_table .row.heading {
  border-bottom: 1px solid var(--bs-neutral-300);
  padding: 16px 14px;
}
.journal_table .row.body .journal-item .row {
  padding: 16px 14px;
  border-bottom: 1px solid var(--bs-neutral-300);
}
.journal_table .row.body .journal-item .row .debit {
  border-bottom: 1px solid var(--bs-neutral-300);
}

.journal-create .table .tbody .row .accountType,
.journal-create .table .thead .row .accountType {
  width: 200px;
}
.journal-create .table .tbody .row .phone,
.journal-create .table .thead .row .phone {
  width: 200px;
}
/* .journal_table .cell.name {
  width: 220px;
}
.journal_table .cell.note {
  width: 220px;
}
.journal_table .cell.contact {
  width: 220px;
}
.journal_table .cell.dr_cr {
  width: 140px;
} */
.journal-summary {
  width: 420px;
  padding: 14px;
}
.journal-summary {
  background: var(--bs-neutral-100);
  border-radius: 4px;
}
/* journal */

/* purchase */
.add-purchase .purchase-info {
  margin: 0 -12px;
}
.add-purchase .purchase-info .col-md-4 {
  padding: 0 12px;
}
.add-purchase .dragDrop-area {
  width: 140px;
  height: 36px;
  border: 2px solid var(--bs-primary-300);
  border-radius: 4px;
  background: var(--bs-white);
}
.add-purchase .search-box .form-control {
  border-radius: 4px;
}
.action .trash {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-purchase .purchase-items {
  margin-top: 32px;
}
.add-purchase .purchase-items .form-control {
  padding: 0.282rem 0.45rem;
  border-radius: 3px;
}
.btn-group {
  border: 1px solid var(--bs-neutral-300);
  color: var(--bs-neutral-900);
  background: var(--bs-neutral-50);
}
.btn-group .form-control {
  border: 0;
  border-left: 1px solid var(--bs-neutral-300);
  width: 30%;
}
.btn-group .custom-select {
  width: 70%;
}
.btn-group .selectize-control {
  height: 100%;
}
.btn-group .selectize-control.single .selectize-input {
  border: 0;
  padding: 0.29rem 0.45rem;
  height: 100%;
}
.add-purchase .purchase-items .table .tbody .row {
  padding: 10px 0;
}
.purchase-summary {
  margin-top: 32px;
}
.purchase-summary .others-cost {
  width: 320px;
}
.purchase-summary .summary {
  width: 520px;
  background: var(--bs-neutral-50);
  padding: 24px 30px;
}
.purchase-summary .summary h6 {
  width: fit-content;
  font-weight: 400;
}
.purchase-summary .summary .grand-total {
  border-top: 1px solid var(--bs-neutral-300);
  padding-top: 14px;
}
.add-purchase {
  padding-bottom: 180px;
}
/* purchase */

@media only screen and (max-width: 1366px) {
  .data_table {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .data_table .table {
    width: 1100px;
  }
  .data_table::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
